* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
    box-sizing: border-box;
}

.main {
  width: 100%;
  height: 73vh;
  position:relative;
  top: 0;
}

.header {
  height: 18vh;
  background-color: #9B9B8C;
  width: 100%;

}

.footer{
  height: 8vh;
  background-color: #686859;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}

.footer-text {
  margin-top: 14px;
  margin-left: 150px;
  font-family: avenir;
  font-size: 28px;
  color: white;
  font-weight: 100;
}

.header-text {
  padding-top: 95px;
  margin-left: 150px;
  font-family: avenir;
  font-size: 36px;
  color: white;
  font-weight: 100;
}



.album-scroll {
  width:100%;
  height:18vh;
  margin-top: 10px;
  margin-bottom: 10px;
  left:0;right:0;
  top:0;bottom:0;
  overflow-y:hidden;
  overflow-x: scroll;
   white-space: nowrap;
   text-align: center;
}


.sample {
  height: 16vh;
  width: 8%;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 10px;
  background-color: blue;
  display: inline-block;

}

.info {
  height: 28vh;
  width: 79%;
  margin: 0 auto;
  border: 5px solid black;
  background-color: #EEEEEE;
  font-family: avenir;
  font-size: 24px;
  overflow-y: scroll;
}

button {
  position: relative;
  text-align: center;
  margin-top: 2vh;
  font-size: 36px;
  background: #353526;
  border-radius: 10px ;
  font-family: avenir;
  font-weight: 100;
  color: white;
  padding: 4px 40px 4px 40px;
}

button[name="button2"] {
  margin-right: 30px;
}

.btns {
  display: inline-block;
  margin-left: 150px;
}
